# TEXT Files

## Read

In [38]:
f = open('test.txt','r')  #f is a file object used to access or modify file contents

In [39]:
f.read()

'Hello, This is a new file\nThis is first line.\nThis is Second Line.\n6+29=35'

In [40]:
f.seek(0) #to bring the pointer to 0

0

In [41]:
f.read(5)

'Hello'

In [42]:
f.tell() #tell the current location of file pointer

5

In [43]:
f.readline()         #to print the entire line (single line)

', This is a new file\n'

In [44]:
f.tell()

26

In [45]:
print(f.readline(),end="")

This is first line.

In [46]:
f.seek(0)
lines= f.readlines()
lines

['Hello, This is a new file\n',
 'This is first line.\n',
 'This is Second Line.\n',
 '6+29=35']

In [47]:
for line in lines:
    print(line,end="")
f.close()

Hello, This is a new file
This is first line.
This is Second Line.
6+29=35

## Write

In [50]:
#If a file exists, it is overwritten
with open("demo.txt","w") as f:    #when we open a file using with keyword => Context Manger will handle closing of file
    f.write("Hi first line\n")
    f.write("Hi second line\n")
    f.write("Hi third line\n")

# Binary Files

In [52]:
try:
    with open('file',"rb") as f:         #r=read,#b=binary
        print(f.read())
except:
    pass

# CSV Files

In [58]:
import csv
with open("test1.csv","r") as f:
    reader=csv.reader(f)
    for row in reader:
        print(row)

['Name', 'id', 'class']
['sam', '3', '5']
['matt', '5', '6']
['bob', '4', '5']
['matthew', '1', '4']
['andrew', '2', '3']

In [72]:
with open("test1.csv","r") as f:
    reader=csv.reader(f,skipinitialspace=True)
    for row in reader:
        print(row[0])

Name
sam
matt
bob
matthew
andrew

In [73]:
with open("test1.csv","r") as f:
    reader=csv.reader(f)
    for row in reader:
        print(row[1])

id
3
5
4
1
2

In [90]:
with open("test1.csv","r") as f:
    reader=csv.DictReader(f,skipinitialspace=True)
    for row in reader:
        print(row)
        
with open("test1.csv","r") as f:
    reader=csv.DictReader(f,skipinitialspace=True)
    for row in reader:
        print(row['id'])

OrderedDict([('Name', 'sam'), ('id', '3'), ('class', '5')])
OrderedDict([('Name', 'matt'), ('id', '5'), ('class', '6')])
OrderedDict([('Name', 'bob'), ('id', '4'), ('class', '5')])
OrderedDict([('Name', 'matthew'), ('id', '1'), ('class', '4')])
OrderedDict([('Name', 'andrew'), ('id', '2'), ('class', '3')])
3
5
4
1
2

In [69]:
#Write
with open("test2.csv","w") as f:
    writer=csv.writer(f)
    writer.writerow(['Name', 'id', 'class'])
    writer.writerow(['andrew', '2', '3'])

## Sort a column in a file

In [95]:
with open("test2.txt","r") as f:
    lines=f.readlines()
    for line in lines:
        print(line,end="")

root:!:0:0::/:/usr/bin/ksh
daemon:!:1:1::/etc:
bin:!:2:2::/bin:
sys:!:3:3::/usr/sys:
adm:!:4:4::/var/adm:
uucp:!:5:5::/usr/lib/uucp:
guest:!:100:100::/home/guest:
nobody:!:4294967294:4294967294::/:
lpd:!:9:4294967294::/:
lp:*:11:11::/var/spool/lp:/bin/false
invscout:*:200:1::/var/adm/invscout:/usr/bin/ksh
nuucp:*:6:5:uucp login user:/var/spool/uucppublic:/usr/sbin/uucp/uucico
paul:!:201:1::/home/paul:/usr/bin/ksh
jdoe:*:202:1:John Doe:/home/jdoe:/usr/bin/ksh

In [122]:
'''
import csv
csv.register_dialect('colon', delimiter=':', quoting=csv.QUOTE_NONE)

with open("fruits.csv", "a") as f:
    w = csv.writer(f)
    w.writerow(["user","col1","col2","col3","col4","col5","col6"], dialect='colon')
    for data in yourdata:
        w.writerow(data)
'''
#with open('test2.txt') as infile, open('test2.csv', 'w') as outfile:
#    outfile.write(infile.read().replace(":", ","))

In [131]:
import pandas as pd
df = pd.read_csv('test2.txt',sep=":")
df.columns= ["user","col1","col2","col3","col4","col5","col6"]
df

,user,col1,col2,col3,col4,col5,col6
0,daemon,!,1,1,NaN,/etc,NaN
1,bin,!,2,2,NaN,/bin,NaN
2,sys,!,3,3,NaN,/usr/sys,
3,adm,!,4,4,NaN,/var/adm,NaN
4,uucp,!,5,5,NaN,/usr/lib/uucp,
5,guest,!,100,100,NaN,/home/guest,NaN
6,nobody,!,4294967294,4294967294,NaN,/,NaN
7,lpd,!,9,4294967294,NaN,/,NaN
8,lp,*,11,11,NaN,/var/spool/lp,/bin/false
9,invscout,*,200,1,NaN,/var/adm/invscout,/usr/bin/ksh
10,nuucp,*,6,5,uucp login user,/var/spool/uucppublic,/usr/sbin/uucp/uucico
11,paul,!,201,1,NaN,/home/paul,/usr/bin/ksh
12,jdoe,*,202,1,John Doe,/home/jdoe,/usr/bin/ksh

In [126]:
df.sort_values('col2')

,user,col1,col2,col3,col4,col5,col6
0,daemon,!,1,1,NaN,/etc,NaN
1,bin,!,2,2,NaN,/bin,NaN
2,sys,!,3,3,NaN,/usr/sys,
3,adm,!,4,4,NaN,/var/adm,NaN
4,uucp,!,5,5,NaN,/usr/lib/uucp,
10,nuucp,*,6,5,uucp login user,/var/spool/uucppublic,/usr/sbin/uucp/uucico
7,lpd,!,9,4294967294,NaN,/,NaN
8,lp,*,11,11,NaN,/var/spool/lp,/bin/false
5,guest,!,100,100,NaN,/home/guest,NaN
9,invscout,*,200,1,NaN,/var/adm/invscout,/usr/bin/ksh
11,paul,!,201,1,NaN,/home/paul,/usr/bin/ksh
12,jdoe,*,202,1,John Doe,/home/jdoe,/usr/bin/ksh
6,nobody,!,4294967294,4294967294,NaN,/,NaN

In [127]:
df.to_csv('test2.csv')

# JSON Files

In [139]:
#Mapping between python objects and JSON entities:
"""
List,Tuple in Python  => array in JSON
Dict in Python => object in JSON
str => string
int,float => number
True => true
False => false
None => null 

Serialization : Converting Python object to a JSON string (write operation)
Deserialization: Converting JSON string to python object (read operation) - used while parsing
"""
1

1

In [155]:
import json
with open('test.json') as f:
    #Deserialization
    data = json.load(f)
    print(data)
    print("*****")
    print(data[0])

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}, {'userId': 1, 'id': 2, 'title': 'quis ut nam facilis et officia qui', 'completed': False}, {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False}, {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True}]
*****
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [152]:
dic={"userId": 1, "id": 5, "title": "New Line", "completed": True}
#Serialization
with open('test1.json','a') as f: 
    json.dump(dic,f)
    
    #Write to json formatted STRING:
    print(json.dumps(dic))

{"userId": 1, "id": 5, "title": "New Line", "completed": true}

* json.load() method can be used for reading from JSON file.
* json.loads() takes in a string and returns a json object.

* json.dump() method can be used for writing to JSON file.
* json.dumps() takes in a json object and returns a string.

# Working with API/URLS

In [132]:
import json
import requests

URL = "https:/print(todos[0])/jsonplaceholder.typicode.com/todos"
response = requests.get(URL)
todos = json.loads(response.text)

In [156]:
todos[:5]

[{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False},
 {'userId': 1,
  'id': 2,
  'title': 'quis ut nam facilis et officia qui',
  'completed': False},
 {'userId': 1, 'id': 3, 'title': 'fugiat veniam minus', 'completed': False},
 {'userId': 1, 'id': 4, 'title': 'et porro tempora', 'completed': True},
 {'userId': 1,
  'id': 5,
  'title': 'laboriosam mollitia et enim quasi adipisci quia provident illum',
  'completed': False}]

# Other libraries and documentation
1. For manipulating path: pathlib and os.path
2. For copying, moving files and other file operations: shutil
3. Serializing python objects to disk: pickle
4. Data compression and archiving
5. File formats
6. Logging